* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
body {
  width: 600px;
  margin: 20px auto;
}
.container,
.content {
  width: 600px;
}
.container > .content > h2 {
  font-size: 31px;
  padding: 10px 0;
}
.container > .content > p {
  font-size: 19px;
  padding: 10px 0;
}
