* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1615906655593-ad0386982a0f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyJTIwcmVwYWlyfGVufDB8fDB8fHww&auto=format&fit=crop&w=700&q=60);
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  background-size: cover;
  border-radius: 10px;
  margin: 50px auto;
  box-shadow: inset 10px 0px 0px 200px rgba(0, 0, 0, 0.45);
  z-index: 3;
}
.container::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  box-shadow: inset 10px 0px 0px 200px rgba(137, 55, 95, 0.1);
  border-radius: 20px;
  transform: translate(30%, 8%);
  z-index: 1;
}
.container::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  box-shadow: inset 10px 0px 0px 200px rgba(240, 238, 237, 0.05);
  border-radius: 20px;
  transform: translate(60%, 30%);
  z-index: 2;
}
.highline-text {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  background-color: #cc3133;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 13px;
  z-index: 4;
}
.aside-icon {
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  top: 25%;
  right: 5%;
  z-index: 5;
}
.aside-icon > .gear-icon {
  position: relative;
  width: 35px;
  height: 35px;
  background-color: #cc3133;
  text-align: center;
  line-height: 35px;
  border-radius: 7px;
}
.aside-icon > .a-icon,
.aside-icon > .b-icon {
  font-weight: 250;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border: 1.5px solid white;
  border-radius: 7px;
}
.aside-icon > .a-icon {
  margin-top: 17px;
  margin-bottom: 21px;
}
.gear-icon::after {
  position: absolute;
  display: block;
  content: "";
  border-left: 1.5px solid white;
  height: 20px;
  top: 35px;
  left: 17.5px;
}
.a-icon {
  position: relative;
}
.a-icon::before {
  position: absolute;
  display: block;
  content: "";
  border-left: 1.5px solid white;
  height: 22px;
  top: 33px;
  left: 16px;
}
.title_1 {
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: 500;
  bottom: 0px;
  left: 0px;
  margin-left: 20px;
  margin-bottom: 45px;
}
.title_2 {
  position: absolute;
  color: white;
  font-size: 15px;
  bottom: 0px;
  left: 0px;
  margin-left: 20px;
  margin-bottom: 18px;
}
